@media screen and (max-width: 576px) {
    .hide {
        display: none;
    }

    nav {
        padding: 16px 20px;
    }
    nav h2 {
        font-size: 1.5em;
    }

    /*  hamburger */
    .hamburger {
        display: block;
    }
    nav div {
        z-index: 9999;
        position: absolute;
        top: 3.8rem;
        left: 0;
        width: 100%;
        background: #1A0B2E;
        padding: 20px;
        border-top: 1px solid rgba(65, 37, 103, 1);
    }
    nav div ul {
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }
    nav:focus-within div {
        display: block;     /* this will now open on click */
    }
    .hamburger {
        transition: transform 0.3s ease-in-out;
    }
    nav:focus-within .hamburger {
        transform: rotate(90deg);
    }
    #btn-hide {
        display: block;
    }

    .banner {
        height: 430px;
    }
    .mic {
        transform: translate(-48%, -124%);
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
    .banner h6 {
        width: 70px;
        height: 35px;
        top: 16%;
        left: 56%;
        padding: 5px 15px;
    }
    .hero-circle {
        width: 200px;
        aspect-ratio: 1 / 1;
    }

    .banner-contents {
        top: 40%;
    }
    .banner-contents h1 {
        font-size: 2.3rem;
    }
    .banner-contents p {
        text-align: center;
        opacity: 0.8;
        line-height: 19px;
    }


}