@media screen and (max-width: 576px) {
    .hide {
        display: none;
    }

    nav {
        padding: 16px 20px;
    }
    nav h2 {
        font-size: 1.5em;
    }

    /*  hamburger */
    .hamburger {
        display: block;
    }
    nav div {
        z-index: 9999;
        position: absolute;
        top: 3.8rem;
        left: 0;
        width: 100%;
        background: #1A0B2E;
        padding: 20px;
        border-top: 1px solid rgba(65, 37, 103, 1);
    }
    nav div ul {
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }
    nav:focus-within div {
        display: block;     /* this will now open on click */
    }
    .hamburger {
        transition: transform 0.3s ease-in-out;
    }
    nav:focus-within .hamburger {
        transform: rotate(90deg);
    }
    #btn-hide {
        display: block;
    }

    .banner {
        height: 430px;
    }
    .mic {
        transform: translate(-48%, -124%);
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
    .banner h6 {
        width: 70px;
        height: 35px;
        top: 16%;
        left: 56%;
        padding: 5px 15px;
    }
    .hero-circle {
        width: 200px;
        aspect-ratio: 1 / 1;
    }

    .banner-contents {
        top: 40%;
    }
    .banner-contents h1 {
        font-size: 2.3rem;
    }
    .banner-contents p {
        text-align: center;
        opacity: 0.8;
        line-height: 19px;
    }

    /* buttons fixed */
    .btn {
        font-size: 12px;
    }
    .btn-subs {
        font-size: 14px;
    }

    #about {
        margin-top: 3.2rem;
        width: 95%;
    }
    .about-content h2 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .about-content p {
        width: 95%;
        line-height: 1.3;
    }
    #about hr {
        margin: 40px 0;
    }
    .about-numbers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 0.8rem;
        width: 100%;
    }
    .about-card h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .about-card p {
        font-size: 14px;
    }

    .techwave-contents {
        width: 100%;
        padding-top: 40px;
    }
    .techwave-contents h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 16px;
        line-height: 38px;
    }
    .grid-container {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 17px;
    }
    .grid-card h6 {
        font-size: 22px;
    }
    .d, .e {
        height: auto;
    }
    .grid-card:hover {
        transform: translateY(-5px);
    }


}