@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* btn */
.btn {
    color: #ffffff;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-radius: 10000px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    border: none;

    transition: transform .25s ease, box-shadow .25s ease, border-color .25s ease;
}
.btn-subs {
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 7px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;

    transition: transform .25s ease, box-shadow .25s ease, border-color .25s ease;
}
.btn:hover, .btn-subs:hover {
    cursor: pointer;
    opacity: 0.9;
    
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 6px 18px rgba(255, 255, 255, 0.15);
}


/* titles */
.about-content h2, #episodes h2, #host h2 {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}


/* header */
header, footer {
    color: #ffffff;
}
nav {
    padding: 16px 200px 16px 200px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background: #1A0B2E; 
}
nav h2 {
    cursor: default;
    font-size: 2rem;
    font-weight: bolder;
}
nav h2 span, .footer-contents h2 span {
    /* background-image: linear-gradient(17deg, #FFCC70 0%, #C850C0 46%, #4158D0 100%); */
    background: linear-gradient(12deg, #f7e93f 0%, #fb09b4 40%, #7b5cff 86%, #9100F8 100%);
    background-clip: text;
    color: transparent;
}
nav div div ul li {
    opacity: 0.;
}
.hamburger {
    cursor: pointer;
    display: none;
}
#btn-hide {
    display: none;
}


/* main - banner */
.banner {
    background: url("./images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 740px;
    position: relative;
}
.banner button i {
    margin-right: 3px;
}
.banner-contents {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    text-align: center;
}
.banner-contents h1 {
    color:#ffffff;
    font-size: 60px;
    font-weight: 800;
}
.banner-contents p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 24px;
}
.banner-hero {
    text-align: center;
}
.banner-hero img {
    position: absolute;
    left: 50%;
    top: 50%;
}
.hero-circle {
    transform: translate(-50%, -80%);
}
.mic {
    max-width: 100%;
    transform: translate(-49%, -108%);
    z-index: 99;
}
.new-badge {
    background-color: #00FF88;
    color: #1A0B2E;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    font-weight: 600;
    font-size: 18px;
    border-radius: 1000px;
    width: 75px;
    height: 38px;
    padding: 6px 16px;
    top: 13%;
    left: 54%;  
}


/* about styles */
#about {
    width: 75%;
    margin: 23px auto 120px;
    text-align: center;
}
.about-content {
    color: #ffffff;
}
.about-content p {
    width: 70%;
    margin: 0 auto;
    opacity: 0.8;
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
}
#about hr {
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.1;
    margin: 80px 0;
}

.about-numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}
.about-card h1 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.about-card p {
    opacity: 0.8;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
.about-card, .episode-card {    
    transition: transform 0.25s ease-in-out;    /* INFO: episode card's hover is also here */
}
.about-card:hover {
    transform: scale(1.08);
}
.episode-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0.5em 0.5em -0.4em rgba(40, 10, 85, 0.393);
}


/* choose-techwave */
.techwave-contents {
    width: 77%;
    margin: 0 auto;
    padding: 120px 0 160px;
}
.techwave-contents h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    margin-bottom: 40px;
}

/* doing grid styles :)) */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 30px;
}
.a {
    grid-column: span 1;
    grid-row: span 2;
}
.b {    
    grid-column: span 2;
}
.c {
    grid-column: span 2;
}
.d {
    grid-column: span 2;
    height: 273px;
}
.e {
    grid-column: span 1;
    height: 273px;
}

.grid-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    transition: transform 0.6s ease, box-shadow 0.5s ease-in-out, background 0.5s ease;
}
.grid-card:hover {
    cursor: default;
    transform: translateY(-12px);
    box-shadow: 3px 14px 35px rgba(0, 0, 0, 0.22);
    background: rgba(40, 10, 85, 0.393);
}
.grid-card img {
    transition: transform 0.7s ease, ease-in 0.5s ease-in-out;
}
.grid-card:hover img {
    transform: scale(1.1) translateY(-4px) translateX(10px);
}
.grid-card:hover p {
    opacity: 0.5;
}

/* shared alsoo */
.grid-card h6, .episode-card h6 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.grid-card p, .episode-card p, .host-banner p {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}


/* Featured Episodes */
#episodes {
    width: 100%;
    margin: 120px auto 60px;
}
#episodes h2 {
    text-align: center;
    margin-bottom: 40px;
}
.episode-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.episode-card {
    width: 380px;
    /* height: 440px; */
    background-color: #250D44;
    border-radius: 24px;
}
.episode-card iframe {
    border-radius: 24px 24px 0 0;
}
.episode-card-content{
    padding: 24px;
}
.episode-card-content h5 {
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    /* align the time */
    display: flex;
    align-items: center;
    gap: 7px;
}
.episode-card-content p, .host-banner p {
    padding: 12px 0;
}
.episode-card h5 img {
    width: 17px;
    height: 17px;
}


/* host-section */
#host {
    width: 77%;
    margin: 120px auto;
}
#host h2 {
    text-align: center;
    margin: 100px 0 40px;
}
.host-contents {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.host-banner {
    width: 896px;
    margin: 0 auto;
}
.host-image img {
    width: 200px;
    height: 100%;
}
.host-banner h4 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}

.host-links {
    display: flex;
    align-items: center;
    gap: 8px;
}
.link {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #412567;
    transition: transform 0.27s ease-in-out;
}
.link:hover, .foot-link:hover {
    transform: translateY(-4px);    /* also footer's link */
}
/* aligning the link-btns */
.link img {
    padding: 11.67px;
}
.link:nth-of-type(2) img {
    padding: 32% 0 0 30.5% !important;
}
.link:last-of-type img {
    padding: 25% 0 0 25% !important;
}


/* footer */
footer {
    background: url("./images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 412px;
}
.footer-contents {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 93px;
}
.footer-links {
    padding-bottom: 32px;
}

.footer-contents h2 {
    font-size: 5rem;
    font-weight: bold;
}
.foot-link {
    transition: transform 0.27s ease-in-out;
    align-items: center;
}
.foot-link span {
    font-weight: 500;
}
.foot-link img {
    height: 20px;
    width: 20px;
}
.footer-links .foot-link:nth-of-type(3) img {
    height: 16px !important;
}
.footer-contents p {
    font-weight: 300;
    color: #FAFAFA;
}
.foot-link span, .footer-contents p {
    font-size: 1rem;
    opacity: 0.6;
}