@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* btn */
.btn {
    color: #ffffff;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-radius: 10000px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    border: none;
}
.btn-subs {
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 7px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}
.btn:hover, .btn-subs:hover {
    cursor: pointer;
    opacity: 0.9;
}
nav button:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: translateX(-2px);
}


/* header */
header {
    color: #ffffff;
}

nav {
    padding: 16px 200px 16px 200px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background: #1A0B2E; 
}
nav h2 {
    font-size: 2rem;
    font-weight: bolder;
}
nav h2 span {
    background-image: linear-gradient(17deg, #FFCC70 0%, #C850C0 46%, #4158D0 100%);
    background-clip: text;
    color: transparent;
}
nav div div ul li {
    opacity: 0.;
}
.hamburger {
    display: none;
}
#btn-hide {
    display: none;
}


/* main - banner */
.banner {
    background: url("/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 740px;
    position: relative;
}
.banner button i {
    margin-right: 3px;
}
.banner-contents {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    text-align: center;
}
.banner-contents h1 {
    color:#ffffff;
    font-size: 60px;
    font-weight: 800;
}
.banner-contents p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 24px;
}
.banner-hero {
    text-align: center;
}
.banner-hero img {
    position: absolute;
    left: 50%;
    top: 50%;
}
.hero-circle {
    transform: translate(-50%, -80%);
}
.mic {
    max-width: 100%;
    transform: translate(-49%, -108%);
    z-index: 99;
}
.banner h6 {
    background-color: #00FF88;
    color: #1A0B2E;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    font-weight: 600;
    font-size: 18px;
    border-radius: 1000px;
    width: 75px;
    height: 38px;
    padding: 6px 16px;
    top: 13%;
    left: 54%;
}


/* about styles */
#about {
    width: 75%;
    margin: 45px auto 120px;
    text-align: center;
}
.about-content {
    color: #ffffff;
}
.about-content h2 {
    font-size: 48px;
    font-weight: bold;
}
.about-content p {
    width: 70%;
    margin: 0 auto;
    opacity: 0.8;
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
}
#about hr {
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.1;
    margin: 80px 0;
}

.about-numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}
.about-card h1 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.about-card p {
    opacity: 0.8;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}


/* choose-techwave */
.techwave-contents {
    width: 77%;
    margin: 0 auto;
    padding: 120px 0 160px;
}
.techwave-contents h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    margin-bottom: 40px;
}

/* doing grid styles :)) */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 30px;
}
.a {
    grid-column: span 1;
    grid-row: span 2;
}
.b {    
    grid-column: span 2;
    grid-template-rows: span 1;
}
.c {
    grid-column: span 2;
    grid-template-rows: span 1;
}
.d {
    grid-column: span 2;
    grid-template-rows: span 1;
    height: 273px;
}
.e {
    grid-column: span 1;
    grid-template-rows: span 1;
    height: 273px;
}

.grid-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    transition: transform 0.5s ease, box-shadow 0.5s ease-in-out;
}
.grid-card img {
    transition: transform 0.7s ease, ease-in 0.5s ease-in-out;
}
.grid-card:hover {
    cursor: default;
    transform: translateY(-12px);
    box-shadow: 3px 14px 35px rgba(0, 0, 0, 0.22);
}
.grid-card:hover img {
    transform: scale(1.1) translateY(-4px) translateX(10px);
}
.grid-card:hover h6 {
    opacity: 0.9;
}
.grid-card:hover p {
    opacity: 0.5;
}

.grid-card h6 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.grid-card p {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}