@media screen and (min-width: 576px) and (max-width: 992px) {
    .hamburger {
        display: none;
    }
    nav {
        padding: 16px 20px;
    }
    nav h2 {
        font-size: 1.5em;
    }
    
    #about, .about-content p {
        width: 90%;
    }
    .about-content h2 {
        font-size: 40px;
        margin-bottom: 16px;
    }
    .about-content p {
        line-height: 1.7;
    }
    #about hr {
        margin: 50px 0;
    }
    .about-numbers {
        flex-wrap: wrap;
    }

}