@media screen and (min-width: 576px) and (max-width: 992px) {
    .hamburger {
        display: none;
    }
    nav {
        padding: 16px 20px;
    }
    nav h2 {
        font-size: 1.5em;
    }
    
    #about, .about-content p {
        width: 90%;
    }
    .about-content h2, #episodes h2, #host h2 {
        font-size: 40px;
        margin-bottom: 16px;
    }
    .about-content p {
        line-height: 1.7;
    }
    #about hr {
        margin: 50px 0;
    }
    .about-numbers {
        flex-wrap: wrap;
    }

    .techwave-contents {
        width: 90%;
        padding-top: 40px;
    }
    .techwave-contents h1 {
        text-align: center;
        font-size: 2.25rem;
        margin-bottom: 20px;
    }
    .grid-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px;
    }
    .grid-card h6 {
        font-size: 22px;
    }
    .a {
        grid-column: span 2;
        grid-row: span 1;
    }
    .b, .c, .d, .e {
        grid-column: span 1;
        height: auto;
    }
    .grid-card:hover {
        transform: translateY(-8px);
    }

    #episodes, #host {
        width: 85%;
        margin: 60px auto;
    }
    .episode-container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .episode-card-content {
        padding: 20px;
    }
    .episode-card-content h6 {
        font-size: 24px;
    }
    .episode-card-content p {
        padding: 12px 0;
    }

    .host-contents {
        flex-direction: column;
        padding: 32px;
    }
    .host-banner {
        text-align: center;
        width: 100%;
    }
    .host-banner h4 {
        font-size: 2rem;
    }
    .host-image img {
        width: 170px;
        height: 170px;
    }
    .host-links {
        justify-content: center;
    }


}